* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --top-bg: #32373c;
  --bottom-bg: #18191c;
  --lightblack: #515c6f;
  --white: #ffffff;
  --lightbshadow: rgba(0, 0, 0, 0.15);
  --main-color: #009bff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to top, var(--bottom-bg), var(--top-bg));
  padding: 0 15px;
}

.container {
  width: 380px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: var(--white);
}

.container i {
  cursor: pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
}


.top-bar i {
  font-size: 30px;
  color: var(--lightblack);
  cursor: pointer;
  transition: color 0.3s ease;
}

.top-bar i:hover {
  color: var(--main-color); 
}


.top-bar span {
  font-size: 18px;
  color: var(--lightblack);
}

.img-area {
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px var(--lightbshadow);
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-details {
  text-align: center;
  margin: 30px 0;
}

.song-details p {
  color: var(--lightblack);
}

.song-details .name {
  font-size: 21px;
  color: #009bff;
}

.song-details .artist {
  font-size: 16px;
  margin-top: 0.5rem;
  opacity: 0.9;
}

.progress-area {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
} 


.progress-bar {
  height: 100%;
  width: 0%;
  border-radius: inherit;
  background: linear-gradient(to right, var(--bottom-bg), var(--top-bg));
  position: relative;
}


.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  background: inherit;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
}

.song-timer span {
  font-size: 15px;
  color: var(--lightblack);
}

.controls {
  margin: 40px 0 5px;
}

.controls i {
  font-size: 28px;
  color: var(--bottom-bg);
  transition: color 0.3s ease;
}

.controls i:hover:not(.play-pause i) {
  color: var(--main-color);
}

.play-pause {
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bottom-bg);
  transition: background 0.3s ease;
}

.play-pause:hover {
  background: var(--main-color);
}

.play-pause i {
  color: var(--white);
  font-size: 35px;
  text-align: center;
}


.volume-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.volume-control i {
  font-size: 24px;
  color: var(--lightblack); 
  transition: color 0.3s ease; 
}

.volume-control i:hover {
  color: var(--main-color);
}

#volume-slider {
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; 
  background: linear-gradient(to right, black 0%, var(--lightbshadow) 0%);
  border-radius: 50px; 
  height: 6px; 
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--lightblack); 
  cursor: pointer;
  box-shadow: 0 4px 8px var(--lightbshadow);
}

#volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--lightblack); 
  cursor: pointer;
  box-shadow: 0 4px 8px var(--lightbshadow);
}

#volume-slider::-webkit-slider-thumb:hover {
  background: var(--bottom-bg); 
} 